@charset "UTF-8";
/*Hannas kod börjar här*/
body {
  font: Arial, Helvetica, sans-serif;
  color: #3d3d3d;
  background-color: #ececec;
  height: 100%;
  font-size: 12px;
  font-weight: lighter;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  grid-template-rows: 25vh 50vh 25vh;
  grid-gap: 1em;
  grid-template-areas: "header header header header" "content content content content";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.hero {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  text-align: center;
  align-items: center;
  background-image: url("../Bilder/Ev-hero6.jpeg");
  background-size: cover;
  background-position: center;
}
.hero p {
  font-size: 2.3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.815);
  align-items: center;
  width: 60%;
}
.hero .button {
  color: rgba(41, 38, 38, 0.815);
  border-style: none;
  height: 55px;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.637);
}
.hero .button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-size: 18px;
}
.hero .hero-text {
  width: 80%;
  padding: 20px;
  margin-bottom: 26px;
  border-radius: 1%;
  font-size: 1.5rem;
  color: #000000;
  background-color: #ecececd3;
}

.button {
  color: #3d3d3d;
  background-color: #ececece8;
  font-weight: lighter;
  border-style: none;
  border-radius: 1%;
  font-size: 1rem;
  height: 40px;
  width: 80px;
  margin: 20px 20px 30px 20px;
  color: #000000;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
}

/*Fannys kod börjar här*/
.products {
  text-align: center;
  color: #3d3d3d;
}

.productwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productwrapper .container-1,
.productwrapper .container-2,
.productwrapper .container-3,
.productwrapper .container-4,
.productwrapper .container-5,
.productwrapper .container-6,
.productwrapper .container-7,
.productwrapper .container-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.productwrapper p {
  margin: 5px;
}
.productwrapper button {
  color: #3d3d3d;
}
.productwrapper .img-1,
.productwrapper .img-2,
.productwrapper .img-3,
.productwrapper .img-4,
.productwrapper .img-5,
.productwrapper .img-6,
.productwrapper .img-7,
.productwrapper .img-8 {
  width: 30vh;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}
.productwrapper .img-1 {
  background-image: url(../Bilder/kopp-blue.jpeg);
}
.productwrapper .img-2 {
  background-image: url(../Bilder/kopp-lightgrey.jpeg);
}
.productwrapper .img-3 {
  background-image: url(../Bilder/kopp-grey.jpeg);
}
.productwrapper .img-4 {
  background-image: url(../Bilder/kopp-turkos.jpeg);
}
.productwrapper .img-5 {
  background-image: url(../Bilder/vas-smal-vit.jpeg);
}
.productwrapper .img-6 {
  background-image: url(../Bilder/vas-rounddarkgreen.jpeg);
}
.productwrapper .img-7 {
  background-image: url(../Bilder/vas-largegrey.jpeg);
}
.productwrapper .img-8 {
  background-image: url(../Bilder/vas-largewhite.jpeg);
}

/*Rasmus kod börjar här*/
.bi-arrow-down-circle {
  font-weight: lighter;
  position: relative;
  margin-top: 40px;
  border-radius: 50%;
  font-size: 1.5em;
}

.elsa-bild {
  width: 100%;
}

.om {
  border: 1px solid black;
}
.om .om-p {
  color: black;
  font-size: 1em;
  width: 100%;
  line-height: 2em;
}
.om .om-h2 {
  color: black;
}

.kontakt {
  border: 1px solid black;
}
.kontakt .bi-geo-alt,
.kontakt .bi-shop,
.kontakt .bi-telephone,
.kontakt .bi-envelope,
.kontakt .bi-arrow-down-circle {
  color: black;
}
.kontakt .bi-twitter,
.kontakt .bi-facebook,
.kontakt .bi-instagram {
  font-size: 2em;
  border-radius: 50%;
}
.kontakt .bi-twitter {
  color: #55acee;
}
.kontakt .bi-facebook {
  color: #3b5998;
}
.kontakt .bi-instagram {
  color: #ac2bac;
}

.Kont-P {
  color: black;
  font-size: 1.2em;
}

/*tacksida*/
.messagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}