@charset "UTF-8";
/*Hannas kod börjar här*/
.varukorg-container {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-auto-rows: 25vh 30vh 25vh;
  grid-gap: 0.5em;
  justify-items: center;
  grid-template-areas: "shophead shophead shophead" "sidebar sidebar craftinfo" "sidebar sidebar craftinfo";
}

.shophead {
  grid-area: shophead;
}

.shop-img {
  grid-area: sidebar;
  background-image: url("../Bilder/Ev-hero4.jpeg");
  width: 25vh;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.craft-info {
  grid-area: craftinfo;
  height: 40vh;
  width: 20vh;
}

/*tacksida*/
.messagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: yellowgreen;
  font-size: 1, 2rem;
}

body {
  font: Arial, Helvetica, sans-serif;
  color: #3d3d3d;
  background-color: #ececec;
  height: 100%;
  font-size: 12px;
  font-weight: lighter;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  grid-template-rows: 26vh 55vh 20vh;
  gap: 1em;
  grid-template-areas: "header header header header" "content content content content" ". . . .";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.hero {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  background-image: url("../Bilder/Ev-hero6.jpeg");
  background-size: cover;
  background-position: center;
}
.hero p {
  font-size: 2.3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.815);
  align-items: center;
  width: 60%;
}
.hero .button {
  color: rgba(41, 38, 38, 0.815);
  border-style: none;
  height: 55px;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.637);
}
.hero .button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-size: 18px;
}
.hero .hero-text {
  width: 80%;
  padding: 20px;
  margin-bottom: 26px;
  border-radius: 1%;
  font-size: 1.5rem;
  color: #000000;
  background-color: #ecececd3;
}

.button {
  color: #3d3d3d;
  background-color: #ececece8;
  font-weight: lighter;
  border-style: none;
  border-radius: 1%;
  font-size: 1rem;
  height: 50px;
  width: 90px;
  margin: 20px 20px 30px 20px;
  color: #000000;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-size: 17px;
}

/*Fannys kod börjar här*/
.products {
  text-align: center;
  color: #3d3d3d;
}

.productwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productwrapper div[class^=container] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 90%;
}
.productwrapper div[class^=container] img[class^=img] {
  width: 85%;
}

p {
  margin: 5px;
}

button {
  color: #3d3d3d;
}

/*Rasmus kod börjar här*/
.bi-arrow-down-circle {
  font-weight: lighter;
  position: relative;
  margin-top: 40px;
  border-radius: 50%;
  font-size: 1.5em;
}

.anchor {
  text-decoration: none;
  color: black;
}

/*Rasmus kod börjar här*/
.elsa-bild {
  width: 90%;
  height: 58vh;
  position: relative;
  margin-left: 5%;
}

.om {
  border: 1px solid black;
}
.om .om-p {
  color: black;
  font-size: 0.9rem;
  width: 100%;
  line-height: 1.6rem;
  position: relative;
  margin-left: 2%;
}
.om .om-h2 {
  color: black;
  position: relative;
  margin-left: 2%;
}

.kontakt {
  border: 1px solid black;
  height: 75vh;
}
.kontakt .bi-geo-alt,
.kontakt .bi-shop,
.kontakt .bi-telephone,
.kontakt .bi-envelope,
.kontakt .bi-arrow-down-circle {
  color: black;
  font-size: 1.6rem;
}
.kontakt .kontakt {
  border: 1px solid black;
}
.kontakt .kontakt .bi-geo-alt,
.kontakt .kontakt .bi-shop,
.kontakt .kontakt .bi-telephone,
.kontakt .kontakt .bi-envelope,
.kontakt .kontakt .bi-arrow-down-circle {
  color: black;
}
.kontakt .kontakt .bi-twitter,
.kontakt .kontakt .bi-facebook,
.kontakt .kontakt .bi-instagram {
  font-size: 2rem;
  border-radius: 50%;
}
.kontakt .kontakt .bi-twitter,
.kontakt .kontakt .bi-facebook,
.kontakt .kontakt .bi-instagram {
  font-size: 2em;
  border-radius: 50%;
}
.kontakt .kontakt .bi-twitter {
  color: #55acee;
}
.kontakt .kontakt .bi-facebook {
  color: #3b5998;
}
.kontakt .kontakt .bi-instagram {
  color: #ac2bac;
}
.kontakt .Kont-P {
  color: black;
  font-size: 1.2em;
}

@media screen and (min-width: 786px) {
  /*Hannas kod börjar här*/
  .grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr;
    grid-template-rows: 30vh 70vh 25vh;
    gap: 1em;
    grid-template-areas: "header header header header" "content content content content" ". . . .";
  }

  .container-fluid {
    flex-direction: column;
  }

  .hero > p p {
    font-size: 3rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
    align-items: center;
  }

  /*Fannys kod börjar här*/
  .productwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /*Rasmus kod börjar här*/
  .kontakt {
    height: 40vh;
  }

  .elsa-bild {
    width: 100%;
    height: 60vh;
  }

  .om .om-p {
    color: black;
    width: 100%;
    line-height: 2em;
  }
}
@media screen and (min-width: 1200) {
  /*Hannas kod börjar här*/
  /*Fannyss kod börjar här*/
  /*Rasmus kod börjar här*/
  .kontakt {
    height: 30vh;
  }

  .elsa-bild {
    width: 90%;
    height: 60vh;
    position: relative;
    margin-left: -5%;
  }
}