/*Hannas kod börjar här*/
$font-stack: Arial, Helvetica, sans-serif;
$background-color: #ececec;
$text-color: #3d3d3d;
$hero-color: hsl(0, 0%, 0%);
$header-textcolor: #b4ada4;

body {
  font: $font-stack;
  color: $text-color;
  background-color: $background-color;
  height: 100%;
  font-size: 12px;
  font-weight: lighter;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  grid-template-rows: 26vh 55vh 20vh;
  gap: 1em;
  grid-template-areas:
    "header header header header"
    "content content content content"
    ". . . .";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;

  .dropdown-item {
    color: $header-textcolor;
    a {
      background-color: none;
    }
  }
}
.nav-link {
  color: $header-textcolor !important;
}

.hero {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../Bilder/evhero112.png");
  background-size: cover;
  background-position: center;
  color: whitesmoke;

  p {
    width: 80%;
    border-radius: 1%;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}

.button {
  background-color: #fdfdfd50;
  font-size: 1rem;
  font-weight: lighter;
  border-style: none;
  border-radius: 2%;
  height: 50px;
  width: 90px;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-size: 17px;

    a {
      color: whitesmoke;
    }
  }
}

/*Fannys kod börjar här*/
.products {
  text-align: center;
  color: $text-color;
  font-weight: lighter;
}
.productwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div[class^="container"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px;

    p {
      font-size: 1rem;
    }

    img[class^="img"] {
      width: 100%;
    }
    button[id^="productname"] {
      text-decoration: none;
      color: $text-color;
      margin: 10px;
      font-weight: lighter;
      font-size: 1.2rem;

      &:hover {
        color: rgb(117, 126, 117);
      }
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
}

p {
  margin: 5px;
}
button {
  color: $text-color;
}

/*Modal*/
.modal-body {
  display: flex;
  flex-direction: row;
  width: 100%;

  .modal-img-container {
    width: 50%;

    .modal-img {
      width: 100%;
    }
  }
  .varukorg-container {
    width: 50%;
    text-align: center;
  }
}

/*Rasmus kod börjar här*/
.anchor {
  text-decoration: none;
  color: black;
}

.elsa-bild {
  width: 90%;
  height: 60vh;
  position: relative;
  margin-left: 5%;
}

.om {
  .om-p {
    color: $text-color;
    font-size: 0.9rem;
    width: 98%;
    line-height: 1.6rem;
    position: relative;
    margin-left: 1.5%;
  }

  .om-h2 {
    color: $text-color;
    position: relative;
    margin-left: 2%;
  }
}

.kontakt {
  border: $text-color;
  height: 70vh;

  .bi-geo-alt,
  .bi-shop,
  .bi-telephone,
  .bi-envelope,
  .bi-arrow-down-circle {
    color: $text-color;
    font-size: 1.2rem;
  }
  .bi-twitter,
  .bi-facebook,
  .bi-instagram {
    font-size: 2rem;
    border-radius: 50%;
  }

  .bi-twitter {
    color: #55acee;
  }

  .bi-facebook {
    color: #3b5998;
  }

  .bi-instagram {
    color: #ac2bac;
  }
}

@media screen and (min-width: 786px) {
  /*Hannas kod börjar här*/
  .grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr;
    grid-template-rows: 30vh 60vh 20vh 20vh;
    gap: 1em;
    grid-template-areas:
      "header header header header"
      "content content content content"
      "content content content content"
      ". . . .";
  }

  .container-fluid {
    flex-direction: column;
    padding: 15px;
  }

  .nav-link {
    color: $header-textcolor !important;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $header-textcolor;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%;
    left: 0;
  }
  .dropdown-item {
    color: $header-textcolor;
    a {
      background-color: none;
    }
  }

  .hero p {
    width: 45%;
    font-size: 2rem;
  }

  .productwrapper {
    width: 100%;
    .one,
    .two {
      display: flex;
      flex-direction: row;
      justify-content: center;

      div[class^="container"] {
        width: 20%;

        img[class^="img"] {
          width: 100%;
        }
      }
    }
  }

  .kont-P {
    color: $text-color;
    font-size: 1.2em;
  }
  .kontakt {
    height: 25vh;
  }

  @media screen and (min-width: 1200) {
    .kontakt {
      height: 30vh;
    }

    .elsa-bild {
      width: 75%;
      height: 60vh;
    }
    .om {
      .om-p {
        color: $text-color;
        width: 100%;
        line-height: 2em;
        line-height: 1.8rem;
      }
    }
  }
}
