/*Hannas kod börjar här*/
$font-stack: Arial, Helvetica, sans-serif;
$background-color: #ececec;
$text-color: #3d3d3d;
$hero-color: #000000;

body {
  font: $font-stack;
  color: $text-color;
  background-color: $background-color;
  height: 100%;
  font-size: 12px;
  font-weight: lighter;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  grid-template-rows: 25vh 50vh 25vh;
  grid-gap: 1em;
  grid-template-areas:
    "header header header header"
    "content content content content";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.hero {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  text-align: center;
  align-items: center;
  background-image: url("../Bilder/Ev-hero6.jpeg");
  background-size: cover;
  background-position: center;

  p {
    font-size: 2.3rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
    align-items: center;
    width: 60%;
  }

  .button {
    color: rgba(41, 38, 38, 0.815);
    border-style: none;
    height: 55px;
    width: 110px;
    background-color: rgba(255, 255, 255, 0.637);
    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
      font-size: 18px;
    }
  }

  .hero-text {
    width: 80%;
    padding: 20px;
    margin-bottom: 26px;
    border-radius: 1%;
    font-size: 1.5rem;
    color: $hero-color;
    background-color: #ecececd3;
  }
}

.button {
  color: $text-color;
  background-color: #ececece8;
  font-weight: lighter;
  border-style: none;
  border-radius: 1%;
  font-size: 1rem;
  height: 40px;
  width: 80px;
  margin: 20px 20px 30px 20px;
  color: $hero-color;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
  }
}

/*Fannys kod börjar här*/
.products {
  text-align: center;
  color: $text-color;
}
.productwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .container-1,
  .container-2,
  .container-3,
  .container-4,
  .container-5,
  .container-6,
  .container-7,
  .container-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
  p {
    margin: 5px;
  }
  button {
    color: $text-color;
  }

  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5,
  .img-6,
  .img-7,
  .img-8 {
    width: 30vh;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
  }
  .img-1 {
    background-image: url(../Bilder/kopp-blue.jpeg);
  }
  .img-2 {
    background-image: url(../Bilder/kopp-lightgrey.jpeg);
  }
  .img-3 {
    background-image: url(../Bilder/kopp-grey.jpeg);
  }
  .img-4 {
    background-image: url(../Bilder/kopp-turkos.jpeg);
  }
  .img-5 {
    background-image: url(../Bilder/vas-smal-vit.jpeg);
  }
  .img-6 {
    background-image: url(../Bilder/vas-rounddarkgreen.jpeg);
  }
  .img-7 {
    background-image: url(../Bilder/vas-largegrey.jpeg);
  }
  .img-8 {
    background-image: url(../Bilder/vas-largewhite.jpeg);
  }
}

/*Rasmus kod börjar här*/
.bi-arrow-down-circle {
  font-weight: lighter;
  position: relative;
  margin-top: 40px;
  border-radius: 50%;
  font-size: 1.5em;
}

.elsa-bild {
  width: 100%;
}

.om {
  border: 1px solid black;
  .om-p {
    color: black;
    font-size: 1em;
    width: 100%;
    line-height: 2em;
  }

  .om-h2 {
    color: black;
  }
}
.kontakt {
  border: 1px solid black;

  .bi-geo-alt,
  .bi-shop,
  .bi-telephone,
  .bi-envelope,
  .bi-arrow-down-circle {
    color: black;
  }

  .bi-twitter,
  .bi-facebook,
  .bi-instagram {
    font-size: 2em;
    border-radius: 50%;
  }

  .bi-twitter {
    color: #55acee;
  }

  .bi-facebook {
    color: #3b5998;
  }

  .bi-instagram {
    color: #ac2bac;
  }
}

.Kont-P {
  color: black;
  font-size: 1.2em;
}

/*tacksida*/
.messagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
