/*Hannas kod börjar här*/
$font-stack: Arial, Helvetica, sans-serif;
$background-color: #ececec;
$text-color: #444444;

body {
  font: $font-stack;
  color: $text-color;
  background-color: $background-color;
  height: 100%;
  font-size: 12px;
  font-weight: lighter;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  grid-template-rows: 26vh 55vh 20vh;
  gap: 1em;
  grid-template-areas:
    "header header header header"
    "content content content content"
    ". . . .";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;

  .dropdown-item {
    color: $text-color;
    a {
      background-color: none;
    }
  }
}
.nav-link {
  color: $text-color !important;
}

.hero {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../Bilder/evhero112.png");
  background-size: cover;
  background-position: center;
  color: whitesmoke;

  p {
    width: 80%;
    border-radius: 1%;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}

.button {
  background-color: #fdfdfd50;
  font-size: 1rem;
  font-weight: lighter;
  border-style: none;
  border-radius: 2%;
  height: 50px;
  width: 90px;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-size: 17px;

    a {
      color: whitesmoke;
    }
  }
}

/*Fannys kod börjar här*/
.products {
  text-align: center;
  color: $text-color;

  h2 {
    font-weight: lighter;
  }
}
.productwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div[class^="container"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px;

    p {
      font-size: 1rem;
    }

    img[class^="img"] {
      width: 100%;
    }
    button[id^="productname"] {
      text-decoration: none;
      color: $text-color;
      margin: 10px;
      font-weight: lighter;
      font-size: 1.2rem;

      &:hover {
        color: rgb(117, 126, 117);
      }
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
}

p {
  margin: 5px;
}
button {
  color: $text-color;
}

/*Modal*/
.modal-body {
  display: flex;
  flex-direction: row;
  width: 100%;

  .modal-img-container {
    width: 50%;

    .modal-img {
      width: 100%;
    }
  }
  .varukorg-container {
    width: 50%;
    text-align: center;
  }
}

.modal-footer {
  .btn.btn-primary {
    background-color: rgb(126, 141, 126);
    border-color: white;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.submit-btn {
  background-color: rgb(126, 141, 126);
  border-color: white;
}
/*Rasmus kod börjar här*/

.anchor {
  text-decoration: none;
  color: white;
}

.elsa-bild {
  width: 90%;
  position: relative;
  margin-left: 5%;
}

.om {
  .om-p,
  .om-ikon {
    color: $text-color;
    width: 98%;
    line-height: 1.6rem;
    position: relative;
    margin-left: 1.5%;
  }
  .om-p {
    font-size: 1rem;
  }
  .om-h2 {
    color: $text-color;
    position: relative;
    margin-left: 2%;
  }
}
.om-ikon {
  font-size: 1.4em;
}

.kontakt {
  border: $text-color;
  height: 80vh;
  background-color: rgb(126, 141, 126);

  .bi-geo-alt,
  .bi-shop,
  .bi-telephone,
  .bi-envelope {
    color: $text-color;
    font-size: 1.6rem;
  }
  .bi-twitter,
  .bi-facebook,
  .bi-instagram {
    color: $text-color;
    font-size: 1.6rem;
    border-radius: 50%;
  }

  .kont-P {
    color: $text-color;
    font-size: 1rem;
  }
}

.kon-button {
  background-color: rgb(126, 141, 126);
  color: white;
}

.kon-dialog {
  width: 80%;
  margin-left: 8%;
}
/*media queries börjar här*/

@media screen and (min-width: 786px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr;
    grid-template-rows: 35vh 60vh 20vh 20vh;
    gap: 1em;
    grid-template-areas:
      "header header header header"
      "content content content content"
      "content content content content"
      ". . . .";
  }

  .container-fluid {
    flex-direction: column;
    padding: 15px;
  }

  .nav-link {
    color: $text-color !important;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $text-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%;
    left: 0;
  }
  .dropdown-item {
    color: $text-color;
    a {
      background-color: none;
    }
  }

  .hero p {
    width: 45%;
    font-size: 2rem;
  }

  .productwrapper {
    width: 100%;
    .one,
    .two {
      display: flex;
      flex-direction: row;
      justify-content: center;

      div[class^="container"] {
        width: 20%;

        img[class^="img"] {
          width: 100%;
        }
      }
    }
  }

  .kontakt {
    height: 50vh;
    .bi-geo-alt,
    .bi-shop,
    .bi-telephone,
    .bi-envelope {
      font-size: 2rem;
      padding: 6%;
    }
    .bi-twitter,
    .bi-facebook,
    .bi-instagram {
      font-size: 2rem;
      padding: 6%;
    }
  }

  .els-con {
    width: 72%;
  }

  .kon-dialog {
    width: 80%;
    margin-left: 35%;
  }
}

@media screen and (min-width: 1200) {
  .kontakt {
    height: 50vh;
    .bi-geo-alt,
    .bi-shop,
    .bi-telephone,
    .bi-envelope {
      font-size: 2.2rem;
      padding: 7%;
    }
    .bi-twitter,
    .bi-facebook,
    .bi-instagram {
      font-size: 2.2rem;
      padding: 7%;
    }
  }

  .elsa-bild {
    width: 85%;
    height: 75vh;
  }

  .kon-dialog {
    width: 85%;
    margin-left: 40%;
  }
}

/*finalpage börjar här*/
